<% content_for :css do %>
  <%= stylesheet_link_tag 'posts_index', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<body>
  <%= render "layouts/navbar" %>
  <div class="container">
    <ol class="posts">
      <% @posts.each do |post| %>
        <li class="post">
          <%= link_to post_path(post.id) do %>
            <div class="field">
              <div class="title">
                <span class="inline normal line"><%= post.date %></span>
                <span class="inline student line"><%= post.classify %></span>
                <span class="inline normal line"><%= post.grade %></span>
                <span class="inline normal"><%= post.subject %></span>
              </div>
            </div>
          <% end %>  
        </li>
      <% end %>  
    </ol>
  </div>

  <%= will_paginate @posts %>

</body>